name: Java Architect Tech Assessment Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Build and Verify (Ingka Project)
        run: |
          cd ingka-java-code-assignment
          mvn -B clean verify

      - name: Build and Verify (Java Assignment Project)
        run: |
          cd java-assignment
          mvn -B clean verify

      - name: Upload JaCoCo Reports
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-reports
          path: |
            ingka-java-code-assignment/target/site/jacoco/
            java-assignment/target/site/jacoco/
