name: Release-Artifacts

on:
  push:
    tags:
      - "v*" # Trigger on tags like v1.0, v2.3.4

permissions:
  contents: write # Needed to create releases

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: |
          cd ingka-java-code-assignment
          mvn -B package -DskipTests

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ingka-java-code-assignment/target/*-runner.jar
            ingka-java-code-assignment/target/*.jar
          generate_release_notes: true
